GATEWAY_PORT=3000

CATALOG_TCP_PORT=4011
MEDIA_TCP_PORT=4012
MEDIA_TCP_PORT=4013
TEST_TCP_PORT=4014

#rabbit mq
RABBITMQ_URL=amqp://localhost:5671

CATALOG_QUEUE=catalog_queue
SEARCH_QUEUE=search_queue
MEDIA_QUEUE=media_queue

# clerk 
CLERK_PUBLISHABLE_KEY=pk_test_Y2xvc2Utb3J5eC0yMC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_98Unlog5UVrYqDnHv921aBQZ4NKWSgX3Goz5uTQIOL

# mongo
MONGO_URI_USERS=mongodb+srv://ubaid29170_db_user:QWhboQ3KivDGXTNS@cluster0.4jg2svu.mongodb.net/?appName=Cluster0